.app {
  transition: background-color 0.5s, color 0.5s;
}

.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: black;
  color: white;
}

button {
  margin: 20px;
  padding: 10px;
}

.error {
  color: red;
}

.posts {
  padding: 20px;
}

.post {
  margin-bottom: 20px;
}
